<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsForms.Properties.Settings.PublicLibraryConnectionString"
            connectionString="Data Source=slavapc;Initial Catalog=PublicLibrary;User ID=User1;Password=User1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>